body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2,#c9d6ff);
    color: #333;
}

.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}

.form-box.active {
    display:block;
}

h2{
   font-size: 34px;
   text-align: center;
   margin-bottom: 20px; 
}
input,
select {
    width: 100%;
    padding: 12px;
    background: rgb(182, 200, 214);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;   
}

 




button{
    width: 100%;
    padding: 12px;
    background: #7584af;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}
button:hover{
    background: #0c3aba;
}

p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
p a {
    color: #7790ab;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;

}

.error-message{
    padding:12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}